{% extends 'base.html'%}
{% block content%}
<div class="container  mt-5">
  <h1 class="display-4">Contact Us</h1>
  <div class="container mt ">
    <form class="col gy-2 gx-3 align-items-center" method="post">
      {% csrf_token %}
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Name</label>
        <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe" name="name">
      </div>
       <div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Email</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="email@gmail.com" name="email">
        </div>

  
    
      </div>
      <div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Phone</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="81297421878241" name="phone">
        </div>

  
    
      </div>
  
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>

 
</div>
    

      {% endblock content%}