{% extends 'base.html'%}
{% block content%}


    <table class="table">
        <thead>
          <tr class="table-danger">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
            {% for emp in employe%}
          <tr >
            <th scope="row" class="table-info">{{emp.0}}</th>
            <td class="table-warning">{{emp.1}}</td>
            <td  class="table-dark">{{emp.2}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock content%}



